name: CI/CD

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
          - 'Production'
          - 'Sandbox'
      directCommit:
        description: 'Direct commit (no PR)'
        required: false
        type: boolean
        default: false
  push:
    branches:
      - main

jobs:
  CI-CD:
    name: CI/CD
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run CI/CD
        uses: microsoft/AL-Go-Actions@preview
        with:
          type: ci/cd
          shell: pwsh
          environment: ${{ github.event.inputs.environment }}
          directCommit: ${{ github.event.inputs.directCommit }}

