name: CI/CD

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
          - 'Production'
          - 'Sandbox'
      directCommit:
        description: 'Direct commit (no PR)'
        required: false
        type: boolean
        default: false
  push:
    branches:
      - main

jobs:
  CI-CD:
    uses: microsoft/AL-Go-PTE/.github/workflows/RunPipeline.yml@preview
    with:
      type: ci/cd
      environment: ${{ github.event.inputs.environment }}
      directCommit: ${{ github.event.inputs.directCommit }}
    permissions:
      contents: write
      pull-requests: write
      checks: write

