name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  CI:
    uses: microsoft/AL-Go/.github/workflows/RunPipeline.yml@main
    with:
      type: ci
    permissions:
      contents: read
      pull-requests: write
      checks: write

